@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div align="center" >
       
       <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.expoknews.com%2F6-formas-de-darle-la-bienvenida-a-un-nuevo-colaborador%2F&psig=AOvVaw1h8PyW8T-cwdyQBb7yike5&ust=1634677176939000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNio4Zbt1PMCFQAAAAAdAAAAABAg" alt="" width="480" height="120" />

    </div>
<div class="text-center">
    @*<h1 class="display-4">Bienvenido</h1>*@
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 
    </div>
